@font-face {
  font-family: B Yekan;
  src: url("../font/BYekan.ttf");
}
@font-face {
  font-family: Myriad pro regular;
  src: url("../font/MyriadProRegular.otf");
}
.font-myriad {
  font-family: Myriad pro regular;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc( 16px + 8 * ((100vw - 320px) / 880) );
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

.text-orange {
  color: #ffab00;
}

.text-gray {
  color: #cccccc;
}

.bg-orange {
  background: #ffab00;
}

.bg-main {
  background: #333333;
}

.md-visible {
  visibility: hidden;
}

@media (min-width: 1024px) {
  #page {
    width: 50rem;
  }

  .md-visible {
    visibility: visible;
  }

  .white-border {
    border-left: 0.05rem #ffffff solid;
  }

  .pr-lg-x {
    padding-right: 9rem;
  }
}
a,
button {
  cursor: pointer;
}

.rtl {
  direction: rtl;
}

body {
  font-family: B Yekan;
  direction: ltr;
  text-align: left;
  background: #333333;
}

nav .navbar-brand img {
  width: auto;
  height: 2.8rem;
}
nav #lang {
  background: #4d4d4d;
}

menu a {
  color: #cccccc;
}
menu a:hover {
  color: #cccccc;
  text-decoration: none;
}
menu img {
  width: auto;
  height: 1.1rem;
}
menu p {
  font-size: 0.48rem;
}
menu .menu-item {
  padding: 0 0.7rem;
  cursor: pointer;
  transition: filter 0.3s linear;
  filter: grayscale(0.99);
}
menu .menu-item:hover {
  filter: grayscale(0);
}
menu .active {
  filter: grayscale(0);
}
menu .menu-item-border {
  border-right: 0.07rem solid #b2b2b2;
}
menu input[type=text] {
  width: 11rem;
  height: 1.5rem;
  padding-right: 1.8rem;
  padding-left: 0.5rem;
  background: #cccccc;
  font-size: 0.7rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  outline: none !important;
  transition: background 0.3s linear;
}
menu input[type=text]:hover, menu input[type=text]:focus {
  background: white;
}
menu button {
  background: transparent;
  border: none;
  padding: 0;
  top: 0.05rem;
  right: 0.6rem;
}

aside {
  right: 0;
  width: 10.25rem;
}
aside #image {
  margin-right: 2rem;
}
aside #image img {
  width: 3.2rem;
  height: auto;
}
aside #arrow,
aside #star,
aside #bell {
  margin-right: 0.7rem;
  cursor: pointer;
}
aside #arrow img,
aside #star img,
aside #bell img {
  width: 1.1rem;
  height: auto;
}
aside #number {
  font-size: 0.7rem;
  padding: 0rem 0.2rem;
  top: 0.2rem;
  left: -0.3rem;
}
aside #buttons {
  margin-right: 2rem;
  margin-top: 1.1rem;
}
aside #buttons button {
  height: 1.5rem;
  font-size: 0.9rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  outline: none !important;
  transition: background 0.3s linear;
}
aside #buttons button:hover {
  background: #cc8900;
}
aside #buttons .button-one {
  width: 4rem;
}
aside #buttons .button-two {
  width: 8.6rem;
}
aside #banner {
  margin-top: 1.4rem;
}
aside #banner .img-one {
  height: 7rem;
  width: auto;
}
aside #copyright {
  background: #4d4d4d;
}
aside #copyright img {
  height: 2.7rem;
  width: auto;
}

#filter button {
  background: #808080;
  width: 100%;
  height: 1.7rem;
  font-size: 0.7rem;
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  outline: none !important;
  transition: background 0.3s linear;
}
#filter button:hover {
  background: #a6a6a6;
}
#filter img {
  width: auto;
  height: 0.45rem;
}

main #home .col-6 {
  padding: 0.1rem !important;
}
main .item {
  padding: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.2rem;
  border-radius: 0.9rem;
}
main .item img {
  width: 10rem;
  border-radius: 0.9rem;
}
main .item .body img {
  height: 2.3rem;
  width: auto;
}
main .item .title {
  font-size: 0.8rem;
}
main .item .type {
  font-size: 0.6rem;
}
main .item .price {
  font-size: 0.5rem;
}
main .item .price .tag {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
}
main #artists img {
  width: 6rem;
  height: auto;
}
main #artists .name {
  font-size: 0.7rem;
}
main #artists .bio {
  font-size: 0.45rem;
}
main #artists a {
  color: #ffffff;
}
main #artists a:hover {
  text-decoration: none;
}

footer {
  background: #4d4d4d;
  font-size: 0.8rem;
}
footer a:hover {
  text-decoration: none;
}
footer #picture img {
  width: 5rem;
  height: auto;
  border-radius: 0.7rem;
}
footer #social {
  margin-top: 1.5rem;
}
footer #social .margin {
  margin: 0 0.12rem;
}
footer #social .margin-one {
  margin-left: 0.12rem;
}
footer #social img {
  width: 1.5rem;
  height: auto;
}
footer p {
  font-size: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
