@import "mixins/FluidTypography";
@import "mixins/colors";

// Varibaes
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-family: B Yekan;
  direction: ltr;
  text-align: left;
  background: #333333;
}

.font-myriad{
  font-family: Myriad pro regular;
}

.rtl{
  direction: rtl;
}

nav {
  .navbar-brand img {
    width: auto;
    height: 3rem;
  }
  #lang {
    background: #4d4d4d;
  }
}

menu {
  img {
    width: auto;
    height: 1.1rem;
  }

  p {
    font-size: 0.48rem;
  }

  .menu-item{
    padding: 0 0.7rem;
  }

  .menu-item-border {
    border-right: 0.07rem solid $gray;
  }

  input[type=text]{
    font-size: 0.8rem;
    width: 9rem;
    height: 1.5rem;
    border: 0.1rem solid transparent;
    border-radius: 1.8rem;
    background: #CCCCCC;
    transition: background 0.4s linear;

    &:hover,
    &:focus{
      background:#e6e6e6;
    }

  }

}
