@import "mixins/font";
@import "mixins/FluidTypography";
@import "mixins/color";

@mixin transition($property: background) {
  transition: $property 0.3s linear;
}

@mixin border() {
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  outline: none !important;
}

a,
button {
  cursor: pointer;
}

body {
  font-family: B Yekan;
  direction: ltr;
  text-align: left;
  background: #333333;
}

.rtl {
  direction: rtl;
}

nav {
  .navbar-brand img {
    width: auto;
    height: 2.8rem;
  }
  #lang {
    background: #4d4d4d;
  }
}

menu {
  img {
    width: auto;
    height: 1.1rem;
  }

  p {
    font-size: 0.48rem;
  }

  .menu-item {
    padding: 0 0.7rem;
  }

  .menu-item-border {
    border-right: 0.07rem solid $gray;
  }

  input[type="text"] {
    font-size: 0.8rem;
    width: 9rem;
    height: 1.5rem;
    background: #cccccc;
    @include border();
    @include transition();

    &:hover,
    &:focus {
      background: lighten(#cccccc, 30%);
    }
  }
}

aside {
  right: 0;
  #user-panel {
    #user-img {
      background-color: $orange;
      img {
        width: 2.2rem;
        height: auto;
      }
    }

    #user-arrow {
      margin-left: 3.7rem;
      margin-right: 0.8rem;
      img {
        width: auto;
        height: 0.6rem;
      }
    }
  }

  #buttons {
    button {
      font-size: 0.9rem;
      width: 4.3rem;
      height: 1.5rem;
      @include border();
      @include transition();

      &:hover {
        background: darken($orange, 10%);
      }
    }
  }

  #banner {
    .img-one {
      height: 7rem;
      width: auto;
    }

    .img-two {
      height: auto;
      width: 10.25rem;
    }
  }

  #copyright {
    background: #4d4d4d;
    img {
      height: 2.7rem;
      width: auto;
    }
  }
}

#filter {
  button {
    background: #808080;
    width: 100%;
    height: 1.7rem;
    font-size: 0.7rem;
    @include border();
  }
  img {
    width: auto;
    height: 0.5rem;
  }
}
