$orange: #ffab00;
$gray: #cccccc;
$main: #333333;
$second:#4d4d4d;
$third:#808080;

.text-orange {
  color: $orange;
}

.text-gray {
  color: $gray;
}

.bg-orange {
  background: $orange;
}

.bg-main {
  background: $main;
}

.bg-footer {
  background: #666666;
}