.md-visible {
  visibility: hidden;
}

@media (min-width: 1024px) {
  #page {
    width: 50rem;
  }

  .md-visible {
    visibility: visible;
  }
  .white-border {
    border-left: 0.05rem #ffffff solid;
  }

  .pr-lg-x {
    padding-right: 9rem;
  }
}

a,
button {
  cursor: pointer;
}

.rtl {
  direction: rtl;
}
