@font-face {
  font-family: B Yekan;
  src: url("../font/BYekan.ttf");
}

@font-face {
  font-family: Myriad pro regular;
  src: url("../font/MyriadProRegular.otf");
}

.font-myriad {
  font-family: Myriad pro regular;
}
