.masonry-layout {
    column-count: 3;
    column-gap: 0;
}

.masonry-layout__panel {
    break-inside: avoid;
}

/* Extra Small devices (landscape phones, 320px and dwon) */
@media (max-width: 324px) {
    .masonry-layout {
        column-count: 2;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .masonry-layout {
        column-count: 3;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .masonry-layout {
        column-count: 4;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .masonry-layout {
        column-count: 5;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .masonry-layout {
        column-count: 6;
    }
}

@media (min-width: 1600px) {
    .masonry-layout {
        column-count: 7;
    }
}

@media (min-width: 1800px) {
    .masonry-layout {
        column-count: 8;
    }
}

@media (min-width: 2000px) {
    .masonry-layout {
        column-count: 9;
    }
}

@media (min-width: 2500px) {
    .masonry-layout {
        column-count: 10;
    }
}

@media (min-width: 3000px) {
    .masonry-layout {
        column-count: 11;
    }
}

@media (min-width: 3500px) {
    .masonry-layout {
        column-count: 12;
    }
}

@media (min-width: 3700px) {
    .masonry-layout {
        column-count: 14;
    }
}

@media (min-width: 4000px) {
    .masonry-layout {
        column-count: 16;
    }
}

@media (min-width: 4500px) {
    .masonry-layout {
        column-count: 18;
    }
}

@media (min-width: 5000px) {
    .masonry-layout {
        column-count: 20;
    }
}