@mixin transition($property: background) {
  transition: $property 0.3s linear;
}

@mixin border() {
  border: 0.1rem solid transparent;
  border-radius: 1rem;
  outline: none !important;
}

@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin space {
  @include lg() {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-right: 10rem;
    padding-left: 10rem;
  }

  margin-top: 1.5rem;
  margin-bottom: 7rem;
}